*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-bg-color: hsl(200, 6%, 10%);
  --sidebar-bg-color: hsl(219, 13%, 21%);
  --sidebar-bg-highlight-color: hsl(224, 13%, 34%);
  --main-txt-color: hsl(272, 90%, 76%);
  --main-txt-hover-color: hsl(291, 95%, 75%);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  box-sizing: border-box;
}

#layout {
  display: grid;
  grid-template-areas:
    "sidebar workspace "
  ;

  grid-template-columns: 20vw 80vw;
}