#new-session__form {
  align-items: center;
}

#new-session__heading {
  font-size: 1rem;
  margin-bottom: 8px;
}

/* new-session__color-btn is in color.css */

#new-session__submit-btn {
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--main-txt-color);
  border-radius: 15%;
  color: var(--main-txt-color);
  padding-inline: 3px;
  transition: color .3s, border-color .3s;
}

#new-session__submit-btn:hover,
#new-session__submit-btn:focus {
  color: var(--main-txt-hover-color);
  border-color: var(--main-txt-hover-color);
  transition: color .3s, border-color .3s;
}

.new-session__input {
  border: none;
  height: 2.2em;
  padding-left: 1em;
  border-radius: 2px;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  width: 100%;
  font-size: 1em;
  outline: none;
  margin-bottom: 10px;
}