#sidebar-sessions {
  margin-bottom: auto;
}

#sidebar-sessions-heading {
  margin-bottom: 3%;
}

#sidebar-sessions__new-session-input {
  border: none;
  border-radius: 2px;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

#sidebar-sessions__dir-select {
  font-weight: normal;
  background-color: var(--main-bg-color);
}

#sidebar-sessions__new-session-btn {
  background-color: transparent;
  color: var(--main-txt-color);
  border: none;
  cursor: pointer;
  transition: 0.2s color;
}

#sidebar-sessions__new-session-btn:hover,
#sidebar-sessions__new-session-btn:focus {
  color: var(--main-txt-hover-color);
  border: none;
  cursor: pointer;
  transition: 0.2s color;
}

#sidebar-sessions__list {
  list-style-type: none;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 3%;
}

.sidebar-sessions__list-item {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin: 0 auto 9px auto;
  border-radius: 5px;
}

.sidebar-sessions__list-item>button {
  color: var(--main-txt-color);
  outline: none;
  border: none;
  width: 100%;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  padding: 4px 0 4px 5px;
  border-left: 2px solid transparent;
}

.sidebar-sessions__list-item>button:hover,
.sidebar-sessions__list-item>button:focus {
  color: var(--main-txt-hover-color);
  background-color: var(--sidebar-bg-highlight-color);
  border-color: var(--main-txt-hover-color);
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}