*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=801&minRatio=1.25&maxFontSize=19&maxWidth=1920&maxRatio=1.333&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Inter */
:root {
  --font-size-sm: clamp(0.8rem, 0.13vw + 0.73rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.27vw + 0.87rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.48vw + 1.01rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 0.78vw + 1.17rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.23vw + 1.34rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 1.87vw + 1.51rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 2.78vw + 1.66rem, 5rem);

  --dsm-width: 1000px;

  --color-high: hsl(0, 0%, 87%);
  --color-medium: hsl(0, 0%, 60%);
  --color-low: hsl(0, 0%, 38%);
}

body {
  box-sizing: border-box;
  background-color: hsl(200, 6%, 10%);
  font-size: var(--font-size-base);
  color: var(--color-high);
}

main {
  margin-inline: auto;
  display: grid;
  width: var(--dsm-width);
}

form {
  margin: 2% auto;
  font-size: var(--font-size-lg);
}

.new-session-color-btn {
  /* relative for the grid */
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 1ch;
  background-color: #dadce0;
  border-radius: 2em;
  border: none;
  vertical-align: bottom;
}

.new-session-color-grid {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s;
}

.new-session-color-grid-cell {
  /* doesn't grow or shrink, just stays at 32% */
  flex: 0 0 32%;
  width: 7em;
  height: 20px;
}

.reveal-color-grid {
  transform: translate(-50%, -50%) scale(1) !important;
  z-index: 100;
}

.new-session-name-input {
  background-color: grey;
  color: var(--color-high);
  border: none;
  font-size: inherit;
}

.new-session-name-input::placeholder {
  color: var(--color-high);
}

.create-new-session-btn {
  cursor: pointer;
  background-color: transparent;
  color: var(--color-high);
  border: none;
  font-size: larger;
}

.clear-tabs-btn {
  border: none;
}

/* SESSIONS */
.sessions-grid {
  border: 2px solid grey;
  padding: 20px;
  list-style-type: none;
  overflow-y: auto;
  scrollbar-width: thin;
}

.session-card {
  background-color: deepskyblue;
  width: 200px;
}

.session-card-heading {
}

.session-card-tabs {
  list-style: none;
}

.session-card-tab {
  display: flex;
}

.session-card-tab__title {
  font-size: var(--font-size-sm);
}

.session-card-tab__url {
  text-overflow: ellipsis;
}

.replace-tabs-btn {}

.add-tabs-btn {}