/* https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=801&minRatio=1.25&maxFontSize=19&maxWidth=1920&maxRatio=1.333&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=font-size&decimals=2&useRems=on&remValue=16&previewFont=Inter */
:root {
  --font-size-sm: clamp(0.8rem, 0.06vw + 0.77rem, 0.84rem);
  --font-size-base: clamp(1rem, 0.16vw + 0.93rem, 1.13rem);
  --font-size-md: clamp(1.25rem, 0.33vw + 1.11rem, 1.5rem);
  --font-size-lg: clamp(1.56rem, 0.57vw + 1.31rem, 2rem);
  --font-size-xl: clamp(1.95rem, 0.93vw + 1.54rem, 2.66rem);
  --font-size-xxl: clamp(2.44rem, 1.46vw + 1.8rem, 3.55rem);
  --font-size-xxxl: clamp(3.05rem, 2.21vw + 2.09rem, 4.73rem);

  --dsm-width: 1000px;

  --color-high: hsl(0, 0%, 87%);
  --color-medium: hsl(0, 0%, 60%);
  --color-low: hsl(0, 0%, 38%);

  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;

  --background-color: hsl(0deg 0% 7%);
  --session-background-color: hsl(0deg 0% 9%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-size: var(--font-size-base);
  color: var(--color-high);
}

button {
  cursor: pointer;
  color: var(--color-high);
  background-color: transparent;
  border: none;
}

main {
  margin: 2% auto;
  width: var(--dsm-width);
}

form {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  font-size: var(--font-size-lg);
}

/* session inputs */
.new-session-name-input {
  font-size: inherit;
  background-color: grey;
  color: var(--color-high);
  border: none;
}

.new-session-name-input::placeholder {
  color: var(--color-high);
}

.create-new-session-btn {
  font-size: larger;
  background-color: transparent;
  color: var(--color-high);
  border: none;
}

.clear-tabs-btn {
  border: none;
}

/* SESSIONS */
.sessions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;

  padding: 20px;
  height: 80vh;

  border: 2px solid grey;
  border-radius: 25px;

  list-style-type: none;
  overflow-y: auto;
}


/* BUTTONS */
.settings-btn {
  margin-left: auto;
}