*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-bg-color: hsl(200, 6%, 10%);
  --sidebar-bg-color: hsl(219, 13%, 21%);
  --main-txt-color: hsl(272, 90%, 76%);
  --main-txt-hover-color: hsl(291, 95%, 75%);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  box-sizing: border-box;
}

#layout {
  display: grid;
  grid-template-areas:
    "sidebar heading . . . "
    "sidebar . . . . "
    "sidebar workspace workspace workspace workspace "
    "sidebar . . . ."
  ;
}

/* SIDEBAR TABS */
#sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  background-color: var(--sidebar-bg-color);
  height: 100vh;
  width: 20vw;
}

/* #sidebar-tabs */
/* #sidebar-tabs__clear-btn */

#sidebar-tabs__list {
  height: 25vh;
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-tabs__list-item {
  white-space: nowrap;
}

.sidebar-tabs__list-item>button {
  width: 100%;
  text-overflow: ellipsis;
}

/* SIDEBAR SESSIONS */
#sidebar-sessions {
  margin-bottom: auto;
}

#sidebar-sessions__new-session-input {
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

/* #sidebar-sessions__new-session-btn {} */

#sidebar-sessions__list {
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: auto;
}

/* .sidebar-sessions__list-item {} */

/* FOOTER */
footer {}

/* #footer__settings-btn {} */
/* #footer__clear-storage-btn {} */

/* WORKSPACE */
#workspace-heading {
  grid-area: heading;
}

/* MAIN WORKSPACE */

#workspace {
  display: flex;
  grid-area: workspace;
  height: 80vh;
}

#workspace-tabs {
  width: 600px;
}

#workspace-tabs__list {
  list-style-type: none;
}

/* #workspace-tabs__list-item {} */

#workspace-resources {
  width: 600px;
}

#workspace-resources__list {
  list-style-type: none;
}

/* #workspace-resources__list-item {} */